<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes personalizados</h1>
  <h3 class="text-xl font-thin">Pipes no incluidos en Angular</h3>
</section>

<div class="stats stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">ToggleCase Pipe'</div>
    <div class="stat-value">{{ nombre() | togglecase : mayusculas() }}</div>
    <div class="stat-desc">{{ nombre() }}</div>

    <button class="btn btn-primary" (click)="mayusculas.set(!mayusculas())">
      Cambiar mayúsculas / minúsculas
    </button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
  <h1 class="text-2xl font-bold">Pipes personalizados en acción</h1>
  <div class="flex gap-2 justify-end w-full">
    <button class="btn btn-primary">Por nombre</button>
    <button class="btn btn-accent">Por volar</button>
    <button class="btn btn-secondary">Por color</button>
    <button class="btn btn-info">Por creador</button>
  </div>
</section>

<div class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Vuela</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      @for (heroe of heroes(); track heroe.id; let indice = $index) {
      <tr>
        <td>{{ indice + 1}}</td>
        <td>{{ heroe.nombre }}</td>
        <td>
          <span class="text-xs w-44" [class.text-success]="heroe.vuela" [class.text-accent]="!heroe.vuela">
            {{ heroe.vuela | vuela }}
          </span>
        </td>
        <td>
          <span class="text-xs w-44" [style.color]="heroe.color | color">
            {{ heroe.color | color }}
          </span>
        </td>
        <td>{{ heroe.creador }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>