<h1 class="text-3xl font-bold font-montserrat">Todos los productos {{ servicioPaginacion.paginaActual() }}</h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
  @for (producto of recursoProductos.value()?.products; track producto.id) {
    <tarjeta-producto [producto]="producto" />
  }
  @empty {
    <p>No hay productos</p>
  }
</div>

<paginador [paginas]="recursoProductos.value()?.pages ?? 0" [paginaActual]="servicioPaginacion.paginaActual()" />