<h1 class="mt-3">Selectores anidados</h1>
<hr />

<form [formGroup]="formulario">

  <!-- Región -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>

      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente --</option>

        @for (region of regiones(); track region) {
        <option [value]="region">
          {{ region }}
        </option>
        }
      </select>
    </div>
  </div>

  <!-- Países -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">País:</label>

      <select class="form-control" formControlName="pais">
        <option value="">-- Seleccione País --</option>

        @for (pais of paises(); track pais.cca3) {
        <option [value]="pais.cca3">
          {{ pais.name.common }}
        </option>
        }
      </select>
    </div>
  </div>

  <!-- Fronteras -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Fronteras:</label>

      <select class="form-control" formControlName="frontera">
        <option value="">-- Seleccione la frontera --</option>

        @for (frontera of fronteras(); track frontera.cca3) {
        <option [value]="frontera.cca3">
          {{ frontera.name.common }}
        </option>
        }
      </select>
    </div>
  </div>

</form>

<h3>Formulario</h3>
<code>
  {{ formulario.value | json }}
</code>

<p>is form valid: {{ formulario.valid }}</p>