<div class="swiper" #divSwiper>

  <div class="swiper-wrapper">
    @for (imagen of imagenes(); track $index) {
    <div class="swiper-slide">
      <img class="w-full object-cover animate-fade-in" [src]="imagen | imagenproducto" />
    </div>
    }

    @empty {
    <div class="swiper-slide">
      <img class="w-full object-cover animate-fade-in" [src]="null | imagenproducto" />
    </div>
    }
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div>