<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes poco comunes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <tarjeta titulo="i18nSelect Pipe">
    <p>Saludos {{ cliente().nombre }}, es un placer {{ cliente().genero | i18nSelect : mapaInvitacion }} a nuestro evento</p>
    <button class="btn btn-primary" (click)="cambiarCliente()">Cambiar cliente</button>
  </tarjeta>

  <tarjeta titulo="i18nPlural Pipe">
    <p>Actualmente {{ clientes().length | i18nPlural : mapaClientes() }}</p>
    <button class="btn btn-primary" (click)="borrarCliente()" [disabled]="clientes().length === 0">Borrar cliente lista de espera</button>
  </tarjeta>
</div>