<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes básicos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">LowerCase Pipe</div>
    <div class="stat-value">{{ nombreMayusculas() | lowercase }}</div>
    <div class="stat-desc">{{ nombreMayusculas() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">UpperCase Pipe</div>
    <div class="stat-value">{{ nombreMinusculas() | uppercase }}</div>
    <div class="stat-desc">{{ nombreMinusculas() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">TitleCase Pipe</div>
    <div class="stat-value">{{ nombreCompleto() | titlecase }}</div>
    <div class="stat-desc">{{ nombreCompleto() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ fechaPersonalizada() | date }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date Pipe | long | GMT-6</div>
    <div class="stat-value">{{ fechaPersonalizada() | date : 'long' : 'GMT-6' }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Pipe : 'yyyy MM'</div>
    <div class="stat-value">{{ fechaPersonalizada() | date : 'yyyy MM' }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date Pipe : 'short' : 'GMT+2'</div>
    <div class="stat-value">{{ fechaPersonalizada() | date : 'short' : 'GMT+2' }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Pipe : 'dd/MM/yyyy'</div>
    <div class="stat-value">{{ fechaPersonalizada() | date : 'dd/MM/yyyy' }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date Pipe : 'HH:mm:ss'</div>
    <div class="stat-value">{{ fechaPersonalizada() | date : 'HH:mm:ss' }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date Pipe : 'EEEE d, MMMM'</div>
    <div class="stat-value">{{ fechaPersonalizada() | date : 'EEEE d, MMMM' }}</div>
    <div class="stat-desc">{{ fechaPersonalizada() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="flex flex-row gap-2">
  <h1 class="text-2xl font-bold">
    Locale actual:
    <span class="badge badge-secondary">ES</span>
  </h1>

  <button class="btn btn-primary">Changer en français</button>
  <button class="btn btn-primary">Change to English</button>
  <button class="btn btn-primary">Cambiar a español</button>
</div>