<h1>Página Dragon Ball</h1>
<hr>

<section class="row">

  <div class="col-12 col-sm-6">
    <h3>Añadir</h3>
    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="number" class="form-control mt-2" placeholder="Poder" />
    <button class="mt-2 btn btn-primary">Añadir</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Lista</h3>

    <ul>
      @for (personaje of personajes(); track personaje.id; let indice = $index) {
      <li>
        <span>{{ indice + 1 }} - {{ personaje.nombre }}</span>
        <strong class="text-danger"> ({{ personaje.poder }})</strong>
      </li>
      }
    </ul>
  </div>

</section>