<h1>Página Dragon Ball</h1>
<hr>

<section class="row">

  <div class="col-12 col-sm-6">
    <h3>Añadir: {{ nombre() }}</h3>

    <input type="text" class="form-control" placeholder="Nombre" [value]="nombre()"
      (input)="nombre.set(textoNombre.value)" #textoNombre />

    <input type="number" class="form-control mt-2" placeholder="Poder" [value]="poder()"
      (input)="poder.set(numeroPoder.valueAsNumber)" #numeroPoder />

    <button class="mt-2 btn btn-primary" (click)="anhadirPersonaje()">Añadir</button>
  </div>

  <div class="col-12 col-sm-6">
    <dragonball-lista-personajes [personajes]="personajes()" />
  </div>

</section>